<!DOCTYPE html>
<html>
	<head>	
	</head>
	
	<body>

		<h2> Add a comment </h2>

		<%= form_for([@Challenge, @Challenge.Comments.build]) do |f| %>
		<p>
			<%= f.label :User %> <br>
			<%= f.text_field :User %>
  		</p>
  			<%= f.label :text %><br>
    		<%= f.text_area :text %>
  		</p>

  		<p>
    		<%= f.submit %>
		</p>
	
		<%end %>
	</body>
</html>