<!-- This file provides an html view to show all the challenges.
Notes:
1- The file uses bootstrap tags and buttons such as table, thead and btn-primary for design purposes.
2- The first part of the document (If condition) checks if there is an popup message generated when trying to delete or upload a challenge and displays the message of the popup.
3- The New Challenge button calls the challenges/new.html.erb view.
4- The View Challenge button calls the challenges/show.html.erb view.
5- The View Comments buttons calls the comments/index.html.erb view.
6- The delete button calls the predefined delete method that calls the def destroy method in challenges_controller
and it is enabled only if the current_user is the one who uploaded the challenge.
7- @challenges.each do |challenge| loops on all the challenges and view each one in a separate row.
8- if challenge.upload_type == "Video" checks the upload_type of the challenge to choose the appropriate tag.-->

<% if !flash[:notice].blank? %>
  
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>

<% end %>

<br />
<%= link_to "New Challenge", new_challenge_path, class: "btn btn-primary" %>

<%= link_to "Back To Profile", current_user, class: "btn btn-warning" %>
<br />

<br />

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :name_cont, class: "radius-left expand", placeholder: "Challenges by name" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>
<% end %>


<table class="table table-bordered able-condensed table-hover">
  <thead>
    
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>Display Challenge</th>
      <th>Actions</th>

    </tr>
  </thead>
  
  <tbody>
    <% @challenges.each do |challenge| %>
  
      <tr>
      <% if challenge.sharing_type == "Private" and current_user.id == challenge.user1_id || current_user.email== challenge.sharing_with  %>
         <td ><%= challenge.name %></td>
         <td ><%= link_to "Download Challenge", challenge.path_url %></td>
  
          <% if challenge.upload_type == "Video" %>

          <td><%= video_tag challenge.path_url, :size => "320x240", :controls => true %></td>
 
          <%else%>

          <td><%= image_tag challenge.path_url, :size => "320x240" %></td>
  
          <%end%>
    
      
         
          <td>
          <%= link_to "View Challenge", challenge_path(challenge), class:"btn btn-info btn-block" %><p></p>
          <%= link_to "View Comments", {controller: "comments", action:"index", challenge_id:challenge }, class:"btn btn-primary btn-block" %>
          <p></p>
 
          <% if challenge.user1_id == current_user.id or current_user.try(:admin?) %>
 
          <%= button_to "Delete",  challenge, method: :delete, class: "btn btn-danger btn-block", data: {confirm: "Are you sure that you wish to delete #{challenge.name}?"} %><p></p>
          <%= link_to "Report", {controller: "reports", action:"new", :challenge_id => challenge.id, :user_id => challenge.user1_id}, class:"btn btn-danger btn-block" %><p></p>
          <% end %>

                
 
         <div id="fb-root"></div>
          <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
          </td>

     <%elsif  challenge.sharing_type == "Public" %>
       <td ><%= challenge.name %></td>
        <td ><%= link_to "Download Challenge", challenge.path_url %></td>
  
        <% if challenge.upload_type == "Video" %>

          <td><%= video_tag challenge.path_url, :size => "320x240", :controls => true %></td>
 
         <%else%>

          <td><%= image_tag challenge.path_url, :size => "320x240" %></td>
      <%end%>
    <%end%>
    
      
         
        <td>
        <%= link_to "View Challenge", challenge_path(challenge), class:"btn btn-info btn-block" %><p></p>
        <%= link_to "View Comments", {controller: "comments", action:"index", challenge_id:challenge }, class:"btn btn-primary btn-block" %>
        <p></p>
 
        <% if challenge.user1_id == current_user.id or current_user.try(:admin?) %>
 
        <%= button_to "Delete",  challenge, method: :delete, class: "btn btn-danger btn-block", data: {confirm: "Are you sure that you wish to delete #{challenge.name}?"} %><p></p>
        <%= link_to "Report", {controller: "reports", action:"new", :challenge_id => challenge.id, :user_id => challenge.user1_id}, class:"btn btn-danger btn-block" %><p></p>
        <% end %>

                
 
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
        </td>

       </tr>
      <% end %>
    
    
  </tbody>
</table>
<style>
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
</style>

