<% if !@challenge.errors.empty? %>

  <div class="alert alert-error">
    <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>

      <% end %>
    
    </ul>
  </div>

<% end %>

<div class="well">
  <%= form_for @challenge, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <p></p> 
    <%= f.label :path %>
    <%= f.file_field :path %>
    <p></p>
    <%= f.label :upload_type %>
    <%= f.select :upload_type, [['Image','Image'],['Video','Video']], :prompt => 'Select a Challenge Type'%><p></p>
    <%= f.label :sharing_with %> 
    <%= f.text_field :sharing_with %><br>
    <%= f.label :sharing_type %>
    <%= f.select :sharing_type, [['Private', 'Private'],['Public','Public']], :prompt => 'Select a Sharing Type'%> <p></p>
    
    <%= f.submit "Upload Challenge", class: "btn btn-success" %>
    <%= link_to "Back", challenges_path , class:"btn btn-danger"%>

  <% end %>

</div>
