<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>
 
<p>
  <b>upload_type:</b>
  <%= @challenge.upload_type %> <!-- path -->
</p>
 
<p>
  <b>path:</b>
  <%= @challenges.path %>
</p>
 
<p>
  <b>Tags:</b>
  <%= join_tags(@challenges) %>
</p>
 
<h2>Comments</h2>
<%= render @challenges.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
 
<%= link_to 'Edit challenge', edit_challenge_path(@challenges) %> |
<%= link_to 'Back to challenges', challenge_path %> |
