
<%= gravatar_for @user %> </br>
<%= @user.first_name %> <%= @user.last_name %> </br>
<p> Age: <%= @user.age %> </p></br>

<% if user_signed_in? %>
<%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %>
<% end %>