<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @Challenge.name %>
</p>
 
<p>
  <b>path:</b>
  <%= @Challenge.path %>
</p>
 
<p>
  <b>upload_tpye:</b>
  <%= @Challenge.upload_tpye %>
</p>
 
<h2>Tag</h2>
<% @Challenge.tag.each do |tag| %>
  <p>
    <b>CHallenger:</b>
    <%= Challenge.challenger %>
  </p>
 
  <p>
    <b>Tag:</b>
    <%= Tag.body %>
  </p>
<% end %>
 
<h2>Add a tag:</h2>
<%= form_for([@Challenge, @challenge.tags.build]) do |f| %>
  <div class="field">
    <%= f.label :challengerer %><br />
    <%= f.text_field :challenger %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<br />
 
<%= link_to 'Edit Challenge', edit_challenge_path(@Challenge) %> |
<%= link_to 'Back to Challenge', challenge_path %> |