<p id="notice"><%= notice %></p>
 
<p> <!-- to take the parameters of the challenge to be connected to only onle one and not to every challenge -->
  <b>Name:</b>
  <%= @Challenge.name %>
</p>
 
<p>
  <b>path:</b>
  <%= @Challenge.path %>
</p>
 
<p>
  <b>upload_tpye:</b>
  <%= @Challenge.upload_tpye %>
</p>
 
<h2>Tag</h2>
<% @Challenge.tag.each do |tag| %>
  <p>
    <b>Challenger:</b>
    <%= Challenge.challenger %>
  </p>
 
  <p>
    <b>Tag:</b>
    <%= Tag.body %>
  </p>
<% end %>
 
<h2>Add a tag:</h2> <!-- to add a new tag .build acts as .new  in an older version of ruby, it takes the challenger name and the text in a textfield--> 
  
<%= form_for([@Challenge, @challenge.tags.build]) do |f| %>
  <div class="field">
    <%= f.label :challenger %><br />
    <%= f.text_field :challenger %>
  </div>
  <!-- <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div> -->
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<br />
<!-- to edit a challenge or to simply go back to view challenges-->
 
<%= link_to 'Edit Challenge', edit_challenge_path(@Challenge) %> |
<%= link_to 'Back to Challenge', challenge_path %> |