<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <p></p>
  <%= search_form_for @search do |f| %>
  	<search>
    <%= f.text_field :full_name_cont, class:"radius-left expand", placeholder: "Challengers by Name" %>
    </search>
    <%= f.submit "Search", class:"btn btn-primary" %>
    <%= link_to "Back To Profile", current_user, class: "btn btn-warning" %>
    </div>
  <% end %>
<% end %>

<div class="container">
<table class="table table-bordered able-condensed table-hover">
<thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
</thead>
<tbody>
	<% @users.each do |user| %>
	<tr>
		<td><strong> <%= user.full_name %> </strong></td>
		<td><% if user == current_user %>
			<%= link_to "View Profile", '/profile/', class:"btn btn-primary" %>
		<% else %>
			<%= link_to "View Profile", user_path(user), class:"btn btn-primary" %>          
		<% end %>
		</td> 
	</tr> 
	<% end %>
</tbody>
</div>

<style>
	th {
		text-align: center;
	}
	td {
		text-align: center;
	}
	search {
		padding-left: 10px;
	}
</style>
	
