<!-- 
<%= gravatar_for @user %> -->

<%= @user.full_name%> </br>
<% unless @user.age.blank? %>
<p> Age: <%= @user.age %> </p></br>
<% end %>
<% unless @user.avatar_file_name.blank? %>
  <li class="round-image-50"><%= image_tag(@user.avatar.url(:thumb)) %></li>
  <% else %> 
  <li class="round-image-50"><%= image_tag(@user.avatar.url(:thumb), :size =>"100x100") %></li> 
 <% end %>