
<!-- This part will display the user's profile picture if he/she uploaded one and otherwise it will display the defaut picture -->

<% if !flash[:notice].blank? %>
  
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>

<% end %>

<% unless @user.avatar_file_name.blank? %>
 
  <td class="round-image-50"><%= image_tag(@user.avatar.url(:thumb)) %></td>
 
<% else %> 
 
  <td class="round-image-50"><%= image_tag(@user.avatar.url(:thumb), :size =>"100x100")%></td> 
 
<% end %> </br>

  <!-- This part will display the user's full name or email if the full name doesn't exist. It will also display a button to view all challenges. -->
 
<strong><%= @user.full_name%> </strong>
  </br>

<% unless @user.age.blank? %>

<p> Age: <%= @user.age %> </p></br>

<% end %>

<p></p>

</br>
<%= link_to "View All Challenges", challenges_path, class:"btn btn-primary" %>

<% if @user.id == current_user.id %>

  <%= link_to "New Challenge", new_challenge_path, class:"btn btn-primary" %>

  <% if @user.notifications == 0 %>
    <%= link_to "You have #{@user.notifications} new notification", notifications_path, class:"btn btn-primary" %>

  <%else%>

    <% if @user.notifications == 1 %>
      <%= link_to "You have #{@user.notifications} new notification", notifications_path, class:"btn btn-success" %>

    <%else%>
      <%= link_to "You have #{@user.notifications} new notifications", notifications_path, class:"btn btn-success" %>

    <% end %> 
  <% end %>
<%end%>

  <%= link_to "Search a Challenger", users_path, class:"btn btn-primary" %>

  <% if current_user.try(:admin?) %>
    <%= link_to "View All Reports", reports_path, class:"btn btn-danger" %>
  <%end%>

  <% @block3 = Block.find_by(:blocked_by => @user.id, :blocked => current_user.id) %>
  <% @block2 = Block.find_by(:blocked_by => current_user.id, :blocked => @user.id) %>
<% if @block3.nil? %>

  <% @friends1 = Friends.find_by(:sent_to => @user.id, :sent_by => current_user.id) %>
  <% @friends2 = Friends.find_by(:sent_to => current_user.id, :sent_by => @user.id) %>
  <% if @block2.nil? %>
    <% if current_user.id != @user.id %>
      <% session[:user_id] = @user.id %>
      <%= link_to "Block", {controller: "block", action:"create_block", blocked: @user.id, blocked_by: current_user.id}, class:"btn btn-danger" %>
      <% end %>
  <% else %>
    <%= link_to "Unblock", {controller: "block", action:"destroy", blocked: @user.id, blocked_by: current_user.id}, class:"btn btn-success" %>
  <%end%>
  <% if @friends1.nil? and @friends2.nil? %>
      <% session[:user_id] = @user.id %>
      <% if @block2.nil? %>
        <% if current_user.id != @user.id %>
          <%= link_to "Add", {controller: "friends", action:"add_friend", sent_to: @user.id, status: "Pending", sent_by: current_user.id}, class:"btn btn-success" %>
        <%end%> 
      <%end%>
  <%elsif @friends2.nil? %>
    <% if @block2.nil? %>
      <% if @friends1.status == "Accepted" %>
        <%= link_to "Unfriend", @friends1, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to remove this friend?"} %>
      <%elsif @friends1.status == "Pending" %>
        <%= link_to "Pending Request", @friends1, method: :delete, class: "btn btn-warning", data: {confirm: "Are you sure that you wish to remove this friend?"} %>
      <% end %>  
    <% end %>  
  <%else%>
    <% if @block2.nil? %>
      <% if @friends2.status == "Accepted" %>
          <%= link_to "Unfriend", @friends2, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to remove this friend?"} %>
      <%elsif @friends2.status == "Pending" %>
        <%= link_to "Pending Request", @friends2, method: :delete, class: "btn btn-warning", data: {confirm: "Are you sure that you wish to remove this friend?"} %>
      <%end%>
    <%end%>
  <%end%>
<% end %>

<!-- This code will load all the challenges posted by the user signed in and put them in a table. A download button, a button to view the challenge,another one to view the comments are available. A Facebook share button is also part of the code below-->

<% @block = Block.find_by(:blocked_by => @user.id, :blocked => current_user.id) %>

<%if @block.nil? %>

  <div class="container"> <h3> Challenges posted by <%= @user.full_name %> </h3></div>
  <table class="table table-bordered able-condensed table-hover">
    <thead>

      <tr>
        <th>Name</th>
        <th>Uploaded By</th>
        <th>Display Challenge</th>
        <th>Actions</th>
      </tr>

    </thead>
    <tbody>
      <% @challenges.each do |challenge| %>
       <% @challenge_owner = User.find(challenge.user1_id) %>
       <% if challenge.user1_id == @user.id %>
        <tr>
          <td ><%= challenge.name %></td>
          <td ><%= link_to "#{@challenge_owner.full_name}", user_path(challenge.user1_id)%><p></p></td>
          <% if challenge.upload_type == "Video" %>
            <td><%= video_tag challenge.path_url, :size => "320x240", :controls => true %>
            <p></p>
            <%= "#{challenge.likes_number} Liked this challenge" %></td>
          <%else%>
            <td><%= image_tag challenge.path_url, :size => "320x240" %>
            <p></p>
            <%= "#{challenge.likes_number} Liked this challenge" %></td>
          <%end%>
          <td>
          <% if challenge.user1_id != current_user.id %>
              <%= link_to "Reply", {controller: "responses", action:"new", :challenge_id => challenge.id}, class:"btn btn-success btn-block" %><p></p>
          <% end %>
          <% @test = Likes.find_by(user_id: current_user.id, path: challenge.path.to_s) %>
          <% if @test.nil? %>
            <%= link_to "ðŸ‘", {controller: "likes", action:"create", file_id:challenge.id, upload_type:"Challenge" }, :method => :post, class:"btn btn-success btn-block" %>
            <p></p>
          <%else%>
            <%= link_to "ðŸ‘Ž",  @test, method: :delete, class: "btn btn-danger btn-block" %>
            <p></p>
          <%end%>
          <%= link_to "View Challenge", challenge_path(challenge), class:"btn btn-primary btn-block" %><p></p>
          <%= link_to "View Responses", {controller: "responses", action:"index", challenge_id:challenge }, class:"btn btn-primary btn-block" %><p></p>
          <p></p>
          <%= link_to "Download Challenge", challenge.path_url , class:"btn btn-primary btn-block"%><p></p>
          <% if challenge.user1_id == current_user.id or current_user.try(:admin?) %>
            <%= button_to "Delete",  challenge, method: :delete, class: "btn btn-danger btn-block", data: {confirm: "Are you sure that you wish to delete #{challenge.name}?"} %><p></p>
          <%else%>
            <%= link_to "Report", {controller: "reports", action:"new", :challenge_id => challenge.id, :user_id => challenge.user1_id}, class:"btn btn-danger btn-block" %><p></p>
          <% end %>

          <div id="fb-root"></div>
          <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  <% end %>
  <style>
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }

</style>
